*{
    margin: 0%;
    padding: 0%;
}
h1{
    background-color: black;
    color: antiquewhite;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
}
img, .choise{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.choise:hover{
    border: 10px solid black;
    object-fit: cover;
    opacity: 50%;
}

.choises{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}


.score{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
p{
    font-size: 2rem;
}
p#user-score, p#pc-score{
font-size: 3rem;
margin-left: 40%;
margin-bottom: 20px;
}


.msg{
    margin-top: 3rem;
    color: white;
    background-color: black;
    height: 8rem;
    width: 40rem;
    border-radius: 50%;
}
.msg>p{
    font-size: 4rem;
    text-align: center;
    line-height: 8rem;
    border-radius: 20%;
}
.msgcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

